<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Movie</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container">

  <h1>Edit Movie</h1>
  <form action="/movies/edit/<%= data.id %> " method="post">
    <input type="hidden" id="id" name="id" class="form-control" value="<%= data.id %> ">
    <div class="form-group">
        <div class="row">
    <label for="name" id="name" name="name">Name</label><br>
    <input type="text" id="name" class="form-control" name="name" value="<%= data.name %> "><br><br>
    </div>
    </div>
    <div class="form-group">
        <div class="row">
    <label for="release_year" id="release_year" name="release_year">Release Year</label><br>
    <input type="text" id="release_year" class="form-control" name="released_year" value="<%= data.released_year %> "><br><br>
    </div>
    </div>
    <div class="form-group">
        <div class="row">
    <label for="genre" id="genre" name="genre">Genre</label><br>
    <select name="genre" class="form-control" id="genre">
      <option value="animation" <%= data.genre === `animation` ? `selected="selected"` : `` %> >animation</option>
      <option value="comedy" <%= data.genre === `comedy` ? `selected="selected"` : `` %> >comedy</option>
      <option value="drama" <%= data.genre === `drama` ? `selected="selected"` : `` %> >drama</option>
      <option value="horor" <%= data.genre === `horor` ? `selected="selected"` : `` %> >horor</option>
      <option value="religius" <%= data.genre === `religius` ? `selected="selected"` : `` %> >religius</option>
      <option value="thriller" <%= data.genre === `thriller` ? `selected="selected"` : `` %> >thriller</option>
    </select><br><br>
    </div>
    
    <div class="form-group">
        <div class="row">
    <label for="pHouse" id="pHouse" name="pHouse">Production House</label><br>
    <select name="pHouse" class="form-control" id="pHouse">
        <% for (var i=0; i<pHouse.length; i++) { %>
      <option value="<%= pHouse[i].id %>" > <%= pHouse[i].name_prodHouse %></option>
      <% } %>
    </select><br><br>
    </div>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Update</button>
    <a href="/movies"><button type="button" class="btn btn-danger btn-sm">Cancel</button></a>
  </div>
  </form>
  </div>
</body>
</html> 